{% extends "demo/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% if mensaje %}
        <div class="alert alert-primary" role="alert" id="idMensaje">
          
          {{mensaje}}
          
        </div>
        {%endif%}
        <h1>Login</h1>
        <form  method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  $(document).ready(function(){
    $("#idMensaje").delay(2000).fadeOut("slow");
  })
</script>
    {% endblock content %}